.box_homepage {
    background-color: var(--primary);
    width: 390px;
    height: 253px;
    margin-top: 83px;
}

/*
Timeline
*/

.container {
     display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    }

.single-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    }

.date-area {
    display: flex;
    order: 2;
    text-align: center;
    color: var(--white);
    font-size: 28px;
    flex-basis: 100px;
    }

.date-area>span {
    font-size: 20px;
    line-height: 70px;
    margin: auto;
    background:var(--primary) ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    }

.content {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    color: var(--black);
    order: 3;
    width: 80%;
    padding-left: 10px;
    background:var(--light-grey);
    
}
   

.content {
    margin-bottom: 3%;
}
.content h2 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    
}

.content img{
    border-radius: 44px;
}

@media (min-width: 640px) {
    .content, .custom {
      width: 40%;
    }
    .box-right .content {
      order: 1;
      padding-right: 10px;
      border-radius: 25px;
    }
    .box-right .custom {
      order: 3;
    }
  }

  /*
  Contact
  */
form {
    margin-top: 150px;
}

.prenom {
    margin-bottom: 32px;
    margin-left: 25px;
    display:flex;
    justify-content: space-between;
    
    }

.prenom input {
    margin-right: 70px;
    background-color: var(--light-grey);
    border-radius: 5px;
    }
    
.nom {
    margin-left: 25px;
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    }

.nom input {
    margin-right: 70px;
    background-color: var(--light-grey);
    border-radius: 5px;
    }


.email {
    margin-left: 25px;
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    }
    
.email input {
    margin-right: 70px; ;
    background-color: var(--light-grey);
    border-radius: 5px;
    }

.message {
    margin-left: 25px;
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    }
    
.message textarea {
    margin-right: 70px;
    background-color: var(--light-grey);
    border-radius: 5px;
    width: 165px;
    height: 50px;
    }





  