.box_homepage {
    background-color: var(--primary);
    width: 390px;
    height: 253px;
    margin-top: 83px;
}

/*
Timeline
*/

.container {
     display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    }

.single-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    }

.date-area {
    display: flex;
    order: 2;
    text-align: center;
    color: var(--white);
    font-size: 28px;
    flex-basis: 100px;
    }

.date-area>span {
    font-size: 20px;
    line-height: 70px;
    margin: auto;
    background:var(--primary) ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    }

.content {
    text-align: center;
    padding: 20px;
    border-radius: 25px;
    color: var(--black);
    order: 3;
    width: 80%;
    padding-left: 10px;
    background:var(--light-grey);
    
}
   

.content {
    margin-bottom: 3%;
}
.content h2 {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    
}

.content img{
    border-radius: 44px;
}

@media (min-width: 640px) {
    .content, .custom {
      width: 40%;
    }
    .box-right .content {
      order: 1;
      padding-right: 10px;
      border-radius: 25px;
    }
    .box-right .custom {
      order: 3;
    }
  }

  /*
  Contact
  */
form {
    margin-top: 150px;
}

.prenom {
    margin-bottom: 32px;
    margin-left: 25px;
    display:flex;
    justify-content: space-between;
    
    }

.prenom input {
    margin-right: 70px;
    background-color: var(--light-grey);
    border-radius: 5px;
    }
    
.nom {
    margin-left: 25px;
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    }

.nom input {
    margin-right: 70px;
    background-color: var(--light-grey);
    border-radius: 5px;
    }


.email {
    margin-left: 25px;
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    }
    
.email input {
    margin-right: 70px; ;
    background-color: var(--light-grey);
    border-radius: 5px;
    }

.message {
    margin-left: 25px;
    margin-bottom: 32px;
    display:flex;
    justify-content: space-between;
    }
    
.message textarea {
    margin-right: 70px;
    background-color: var(--light-grey);
    border-radius: 5px;
    width: 165px;
    height: 50px;
    }

.button {
    background-color: var(--primary);
    border-radius: 7px;
    margin-left: 40%;
    margin-top: 25px;
    color: var(--black);
    }

/*
homepage
*/

.box_homepage h1 {
    padding-top: 45px;
    padding-left: 20px;
    font-size: var(--title);
}

.box_homepage h2{
    padding-left: 20px;
    padding-top: 16px;
    font-size: var(--sousTitre);
}

.sous_titres_homepage  {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: var(--sousTitre);
}

.info_date{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info_date p {
    font-size: var(--text-article);
    padding-top: 18px;
    margin-right: 15px;
}

.info_lieu {   
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.info_lieu p {
    font-size:  var(--text-article);
    padding-top: 8px;
    margin-left: 8px;
}

.info_when {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.info_when p {
    font-size:  var(--text-article);
    padding-top: 30px;
    margin-left: 8px;
}

.info_tarif {
    display: flex;
    justify-content: space-between;
    margin-top: -25px;
}

.info_tarif p {
    font-size:  var(--text-article);
    padding-top: 80px;
    margin-left: 8px;
}

.texte_debut_info {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    font-size:  var(--text-article);
}

.first_title_all_page {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: var(--sousTitre);
}

.first_title_all_page2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: var(--sousTitre);
}

.title_h4  {
    margin-left: 20px;
    margin-top: 30px ;
    margin-bottom: 22px;
    font-size: var(--text-h3);
}