footer {
    width: 390px;
    height: 256px;
    background-color: var(--grey);
    color: var(--white);
     
}

footer p {
    margin-top: 15px;
    margin-left: 20px;
    
}

footer img {
     margin-top: 22px;
     margin-left: 20px;
}


