.button_accordeon {
    background-color: var(--primary);
    color: var(--black);
    border-radius: 8px;
    border-color: var(--grey);
    width: 250px;
    height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: var(--text-article);
}


.accordeon {
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 100px;
}
