* {
    box-sizing: border-box;
    }
img {
    max-width: 100%;
    height: auto;
}
    
.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll; 
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory; 
    margin: 0%;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
    margin: 0%;
}

.carrousel_ecran figure {
    margin: 0%;
  
}
  
.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background: var(--primary);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: var(--white);
  }

  .carrousel_btn-avant {
    left: 0;
    margin-left: 20px;
  }

  .carrousel_btn-apres {
    right: 0;
    margin-right: 20px;
  }