.menu-nav {

    margin: auto;
    margin-top: 0px;
    margin-right: 0px;
    background-color: var(--grey);
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    right: 0;
    top: 0; 
}

.icon-croix {
    margin-top: 29px;
    margin-right: 29px;
    float: right;
    cursor: pointer;
    color: var(--white);
}

.nav-list nav ul li {
    margin-top: 35px;
    list-style-type: none;
    color: var(--white);
    padding-bottom: 35px;
}





.nav-list nav ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: var(--theme);
    margin-left: 35px;
    
    
}



.nav-list nav ul  {
    margin-top: 40px;
}

.separateur {
    position: absolute;
    width: 197px;
    border: 1px solid var(--white);
    margin-left: 35px;
    margin-top: 12px;
    margin-bottom: 35px;
}