@font-face {
        font-family: "Mulish"
        ;
        src: url("Mulish-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "Oswald";
        src: url("/src/fonts/Oswald-VariableFont_wght.ttf");
    }

    h1, h2, h3 , h4 {
        font-family: "Mulish";
    }

    p {font-family: "Mulish";}

    nav {
        font-family: "Oswald";
    }

    label {font-family: "Mulish";}