@import url(/src/css/base/main.css);
@import url(/src/css/components/menu.css);
@import url(/src/css/layout/footer.css);
@import url(/src/css/layout/header.css);
@import url(/src/css/utils/variables.css);
@import url(/src/fonts/font.css);
@import url(/src/css/vendors/normalize.css);
@import url(/src/css/components/accordeon.css);


*{
    margin: 0px;
    
}
